.how{

    min-height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    position: relative;

    background-image: url("../../../../assets/images/cesped.jpg");
    background-size: cover;
    background-position: center;

}

.how::before{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.45);

    z-index:0;

}

.how > *{

    position:relative;

    z-index:1;

}

.how__eyebrow{

    color:var(--color-primary);

    font-weight:700;

    letter-spacing:2px;

    margin-bottom:20px;

}

.how h2{

    font-size:4rem;

    margin-bottom:90px;

}

.how_h2{
    color: black;
}

.how__timeline{

    width:100%;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:60px;

}

.how-step{

    position:relative;

}

.how-step__icon{

    width:110px;

    height:110px;

    margin:auto;

    margin-bottom:25px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:3rem;

    background:transparent;

}

.how-step h3{

    margin-bottom:18px;

    font-size:1.5rem;

    color: black;

}

.how-step p{

    color: var(--color-secondary);

    line-height:1.8;

}

@media(max-width:900px){

.how__timeline{

grid-template-columns:1fr;

}

.how h2{

font-size:2.8rem;

}

}